{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-console": 0,
    "comma-dangle": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": 0,
    "no-shadow": 0,
    "consistent-return": 0
  }
}
